p {
  color: #f9fafb;
  margin: 0;
}

.fa-container {
  margin: 2rem;
}

.fa-container > p {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: end;
}

.fa-container h5,
.fa-container h6 {
  color: #f9fafb;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.fa-container > div > div p {
  font-size: 0.9rem;
}

.p-title-custom {
  font-weight: 300;
  font-size: 1.6rem;
}
