@import url("https://fonts.cdnfonts.com/css/action-man");

a,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: "Action Man", sans-serif !important; */
}

/* CCS DEL INDEX.HTML */

.body-custom {
  background-color: #1f2937;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.div-nav {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

.div-nav a {
  font-weight: bold;
  font-size: 1.3rem;
  color: #e7562e;
  margin-left: 5vw;
  margin-right: 5vw;
  text-decoration: none;
  transition: 0.7s ease-in-out;
}

.div-nav a:hover {
  color: #e7762e;
  text-decoration: underline;
}

.contain-main p {
  color: #f9fafb;
  margin: 0;
}

.p-title {
  font-weight: 700;
  font-size: 2.8rem;
}

.contain-hola img {
  object-fit: cover;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: #1f2937;
}

.modal-container > button {
  color: #e7562e;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: 1rem;
}

.modal-container > button:hover {
  color: #e7762e;
}

.btn-container-modal > button {
  color: #e7562e;
  font-weight: 700;
  margin: 1rem;
  font-size: 1.2rem;
  background-color: transparent;
  border: 0;
}

.btn-container-modal > button:hover {
  color: #e7762e;
}

.modal-div-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-div-input > p {
  text-transform: uppercase;
  margin-top: 0.5rem;
  font-weight: 700;
}

.container-form-presentacion {
  width: 90%;
  margin-bottom: 1rem;
}

.container-form-presentacion p {
  color: #e7562e;
}

.container-form-presentacion textarea {
  height: 6rem;
}

.container-form-presentacion img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.modal-div-input > textarea {
  height: 6rem;
  width: 90%;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.modal-div-input > input {
  width: 90%;
}

.p-borrar-sobre-mi {
  font-size: 0.8rem !important;
  font-weight: 100 !important;
  text-align: start;
  width: 90%;
}

.btn-hola-custom {
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  background-color: transparent;
  border: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body {
  margin: 0 !important;
  padding: 0 !important;
}

.modal-body > img {
  border-radius: 5px !important;
}

.info-personal,
.temas,
.tp-container,
.comentarios-container,
.container-login {
  margin: 2rem;
  border-bottom: 4px solid #f9fafb;
}

.info p {
  font-size: 1.3rem;
}

.acerca > p {
  font-weight: 300;
  font-size: 1.8rem;
}

.container-list li {
  color: #f9fafb;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.7rem;
  margin-bottom: 0.4rem;
}

.container-list li::marker {
  font-size: 0.9rem;
}

.contacto-email p {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}

.contacto-email p > a {
  color: #73cffa;
  font-weight: 700;
}

.contacto-email p > a:hover {
  color: #52bef0;
}

.temas > p {
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: end;
}

.container-info-blog {
  margin-top: 2rem;
}

.container-info-blog > p {
  font-size: 1.8rem;
  font-weight: 500;
}

.container-item-blog {
  width: 85vw;
  margin: 0 auto;
  border-bottom: 0.5px solid #b7b7b7;
  padding: 1rem 0;
  transition: 0.5s ease-in-out;
}

.container-item-blog:hover {
  background-color: #586474;
}

.container-item-blog img {
  object-fit: cover;
  width: 3.5rem;
  height: 3.5rem;
  /* margin-right: 1rem; */
  margin: 0 0.5rem;
}

.title-item > b {
  font-weight: bold;
  font-size: 1.3rem;
}

.info-item {
  font-size: 0.7rem;
}

.item-proxmox {
  background-color: #586474;
  border: 1px solid #f2f2f2;
  margin: 1rem 0;
  margin-left: 2rem;
  padding: 1.2rem;
  border-radius: 10px;
  width: 100%;
}

.item-proxmox p {
  font-size: 1.4rem;
  font-weight: bold;
}

.item-proxmox:hover,
.item-proxmox:hover p {
  background-color: #f2f2f2;
  color: #586474;
  cursor: pointer;
}

.timeline-primary {
  background-color: #e7562e;
  height: 8rem;
  width: 0.3rem;
  margin-right: 1rem;
  position: absolute;
  border-radius: 10px;
  transition: 0.6s all ease-in-out;
}

.timeline-primary > div {
  transition: 0.6s all ease-in-out;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: #e7562e;
  position: relative;
  right: 0.9rem;
  top: 38%;
}

.item-timeline {
  width: 80vw;
  margin: 0 auto;
  text-decoration: none;
}

.tp-container > p,
.comentarios-container > p {
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: end;
}

.container-tp-info > p,
.comentarios-realizados-p {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 2rem;
}

.container-img-comentario {
  width: 4rem;
  height: 4rem;
}

.container-img-comentario > img {
  object-fit: cover;
  transition: 0.5s ease-in-out;
  height: 100%;
}

.contain-info-comentario {
  padding-left: 1rem;
  width: 90%;
}

.comentarios-realizados-p {
}

.border-comentarios {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.3px solid #666666;
}

.nombre-comentario {
  font-weight: 700;
  text-decoration: underline;
  width: max-content;
  color: #f9fafb;
  transition: 0.5s ease-in-out;
}

.nombre-comentario:hover {
  color: #dbdada;
}

.info-extra-comentario {
  color: #a3a3a3 !important;
  text-decoration: none;
  line-height: 0.9rem;
  font-size: 0.7rem;
}

.alerta-comentario-sesion {
  color: #e7562e !important;
  text-transform: uppercase;
  font-weight: 700;
}

.comentario-realizado {
  margin-top: 0.7rem !important;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn-comentar > button {
  transition: 0.5s ease-in-out;
  background-color: transparent;
  border: 1px solid #e7562e;
  color: #e7562e;
  font-weight: 700;
}
.btn-comentar > button:hover {
  border: 1px solid #e7762e;
  color: #e7762e;
}

.btn-disabled,
.btn-disabled:hover {
  pointer-events: none;
  color: #586474 !important;
  border: 1px solid #586474 !important;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer > p {
  margin: 0;
  color: #e7562e;
  font-weight: bold;
  padding: 0.7rem;
}

.footer > p:hover {
  color: #e7762e;
  cursor: pointer;
}

@media (min-width: 900px) {
  .container-item-blog {
    width: 650px;
  }

  .item-timeline {
    width: 720px !important;
  }
}

@media (max-width: 1199px) {
  .timeline-xl-1,
  .timeline-xl-2,
  .timeline-xl-3,
  .timeline-xl-4 {
    display: none;
  }
}

@media (min-width: 1200px) {
  .timeline-primary {
    position: static;
    display: none !important;
  }

  .item-timeline {
    margin: 0;
    width: 100% !important;
  }

  .item-proxmox {
    width: 380px;
    margin: 1rem 0;
  }

  .item-proxmox p {
    font-size: 1.2rem;
  }

  .timeline-xl-1,
  .timeline-xl-2,
  .timeline-xl-3,
  .timeline-xl-4 {
    background-color: #e7562e;
    height: 8rem;
    width: 0.3rem;
    border-radius: 10px;
  }

  .timeline-xl-1 {
    margin-left: 2.3rem;
  }
  .timeline-xl-2 {
    margin-right: 2.15rem;
  }
  .timeline-xl-3 {
    margin-left: 2.3rem;
  }

  .timeline-xl-4 {
    margin-right: 2.15rem;
  }

  .timeline-xl-1 > div,
  .timeline-xl-2 > div,
  .timeline-xl-3 > div,
  .timeline-xl-4 > div {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: #e7562e;
    position: relative;
    right: 0.9rem;
    top: 38%;
  }
}

/* CSS DEL PROFILE.HTML */

.contain-profile {
  margin-top: 3rem;
}

.contain-profile img {
  max-width: 12rem;
  max-height: 12rem;
  width: 30vw;
  height: 30vw;
  object-fit: cover;
  border-radius: 100%;
}

.contain-profile p {
  font-weight: 700;
  font-size: 2.8rem;
  color: #f2f2f2;
  text-transform: uppercase;
}

.contain-profile button {
  margin-top: 1rem;
  background-color: transparent;
  color: #e7562e;
  border: 0;
  font-weight: 700;
  font-size: 1.3rem;
}

.contain-profile button:hover {
  color: #e7762e;
  text-decoration: underline;
}

.contain-profile h6 {
  color: #f2f2f2;
}

/* CCS DEL LOGIN.HTML  */

#btn-login-google {
  margin-top: 1rem;
  background-color: transparent;
  color: #f9fafb;
  font-size: 1.5rem;
  border: 3px solid #e7562e;
  font-weight: 700;
  padding: 0.7rem;
  transition: 0.8s ease-in-out;
}

#btn-login-google > img {
  width: 2.5rem;
}

#btn-login-google:hover {
  filter: invert(0.15);
}

.container-login > p {
  color: #f9fafb;
  text-transform: uppercase;
  font-weight: 700;
}

.container-login {
  border-bottom: 0;
}
